.navBar {
    height: 75px;
    width: 100vw;
    background-color: rgb(15, 14, 15);
    position: sticky;
    display: flex;
    align-items: center;
}

.navBar img{
    margin-left: 10px;
    height: 50px;
}